# Dependencies
node_modules/
.bundle/

# Build outputs
.next/
out/
build/
tsconfig.tsbuildinfo

# Debug/IDEs
.vscode/
.git
.gitignore
.prettierrc
eslint.config.mjs


# github
.github/


.env*


# Docker-specific files (The image doesn't need its own recipe inside it)
Dockerfile
docker-compose*.yml
.dockerignore

Caddyfile

# Misc / Documentation
NOTES.txt
notes.txt
modes.txt
lil_plan.jpg
README.md
NEXT_README.md
LICENSE