DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=mydatabase
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword

DICT_DB_HOST=localhost
DICT_DB_PORT=5432
DICT_DB_NAME=wordrace_dictionary
DICT_DB_USER=postgres
DICT_DB_PASSWORD=12312312
DICT_TABLE_SCHEMA=public

DICTIONARY_DB_PATH=/home/user/WordRace/dictionary.db